// export button for feeds.

.feed-icon {
  position: absolute;
  right: 0;
  text-align: right;
  top: -35px;

  @include tablet {
    top: -45px;
  }

  a {
    position: relative;
  }

  svg.arrow-down {
    position: relative;
    top: 2px;
    right: -2px;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;

    a {
      display: block;
      padding: 6px 12px;
      border: 0;
      text-align: center;
    }

    li a {
      text-align: left;
      padding: 3px 20px;
      text-decoration: none;
      &:hover,
      &:focus {
        color: $cd-primary-color;
        background-color: $cd-light-grey;
      }
    }
  }

  .open > .dropdown-menu {
    display: block;
  }

}
