//
// Styles for Nodes
// --------------------------------------------------

// Responsive styles for images
.field-name-body img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

// Remove underline from linked image in content.
.region-content .center-block a {
  border: 0 none;
}

// Content types

.page-node.node-type-hr-indicator,
.page-user {
  .page-heading {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
  }
}
.node-hr-indicator,
.user-full {

  padding-bottom: 10px;

  .container-fluid {
    background-color: $cd-grey-background-color;
    //border: 1px solid #FFF;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-right: 5px solid $cd-highlight;

    .row {
      overflow: hidden;
      margin: 0;
      @include tablet {
        display: flex; // Right column is full height regardless of content.
      }

      .radix-layouts-content {
        min-height: 400px;
        .panel-separator {
          display: inline-block;
        }

        .pane-node-title {
          border-bottom: 1px dotted $cd-mid-grey;

          h2 {
            font-size: 18px;
            font-weight: bold;
            color: $cd-highlight;
            padding: 0 20px 0 0;
            min-height: 55px;
            display: flex;
            align-items: center;
          }
        }

        .pane-user-name {
          border-bottom: 1px dotted $cd-mid-grey;

          .pane-content {
            font-size: 18px;
            font-weight: bold;
            //@include node-sprite(user);
            color: $cd-highlight;
            padding: 20px 20px 20px 79px;
            max-height: 55px;
          }
        }

        .pane-node-field-files-collection {
          display: inline-block;
        }

        .field-name-field-users-ref .content {
          min-height: 0;
        }
      }

      .field-collection-view {
        margin: 0;
        padding: 0;
      }

      .field-collection-container {
        border-bottom: 0 none;
      }

      .radix-layouts-sidebar {
        padding: 0;
        background-color: $cd-site-bg-color;
        @include tablet {
          margin-right: -4px;
        }

        .panel-pane {
          border-bottom: 1px dotted $cd-mid-grey;
          padding: 10px;

          .field-label,
          .pane-title {
            font-weight: normal;
            font-size: 12px;
          }

          .field-item,
          .pane-content {
            font-size: 12px;
            color: #555555;
            font-weight: bold;
            a {
              color: #55B1C8;
            }
          }
        }
      }
    }
  }

  &.node-hr-indicator .container-fluid {
    border-right: 5px solid $cd-highlight;
    box-shadow: none;

    .row .radix-layouts-content .pane-node-title h2 {
      color: $cd-primary-color;
    }
  }

  .field-label-inline .field-items {
    max-width: 100%;
  }
}

.node-hr-indicator .col-md-9 .panel-panel-inner {
  padding-bottom: 10px;
}

// Search results

.node-teaser {
  background-color: $cd-grey-background-color;
  padding: 15px 0;
  margin-bottom: 20px !important;
  position: relative;

  &:after {
    content: '';
    background-color: $cd-highlight;
    display: block;
    width: 5px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  > h2 {
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px 0 79px;
    margin-left: 18px;
    margin-top: 0;
    min-height: 55px;
    display: flex;
    align-items: center;

    @include max-width(sm) {
      font-size: 14px;
      padding-top: 5px;
    }

    a {
      color: $cd-highlight;
    }
  }

  .field-item {
    color: #606060;
  }

  .field-label {
    width: 130px;
    display: inline-block;
    margin-right: 10px;
    font-weight: normal;
  }

  .col-md-12 {
    padding: 0 4px;
  }

  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    .row {
      margin: 0;
    }
  }

  &.node-hr-indicator {
    h2 a {
      color: $cd-primary-color;
      border-bottom: none;
    }
    &:after {
      background-color: $cd-primary-color;
    }
  }

}

.form-item-range {
  margin-top: 0;
}

.radix-layouts-footer .panel-panel-inner {
  text-align: right;
}

.radix-layouts-footer .panel-pane,
.radix-layouts-footer .panel-separator {
  display: inline-block;
}

.node-hr-indicator .container-fluid .row,
.user-full .container-fluid .row {
  overflow: visible;
}

.field-item > p:first-child {
  margin-top: 0;
}
